@import "../abstract/mixins";
@import "../abstract/colors";

.chat-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  border-radius: 3rem;
  background-color: white;

  & .chat-header {
    height: 10%;
    bottom: 0rem;
    position: relative;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-color: $artPurpleMedium;
  }
  & .chat-messages {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
    flex-direction: column;
    padding: 1rem;
    background-color: #e7e7e7;
  }
  & .chat-input {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    bottom: 0rem;
    position: relative;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    padding-bottom: 1rem;
    & .input {
      padding: 1rem;
      height: 80%;
      width: 80%;
      border: 0.1rem solid black;
      font-size: 3rem;
    }
    & .input-btn {
      background-color: $artPurpleMedium;
      color: white;
      padding: 0.9rem;
      border-radius: 0.5rem;
      margin: 1rem;
      font-size: 3rem;
      height: 60%;
      width: 15%;
    }
  }

  & .chat-messages {
    height: 100%;
    width: 100%;
  }
}
